.container {
  background-image: url("../../Assets/backgroundLady.png");
  height: 1253px;
  width: 549px;
  left: 0px;
  top: 148px;
  border-radius: 0px;
}

.layer {
  background-color: rgba(40, 167, 69, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
